<!DOCTYPE html>
<html lang="es">


<head>
    <%- include('../partials/head') -%>
    <title>Cargar producto</title>
    <link rel="stylesheet" href="/css/productAdd.css">
</head>


<body>
    
    <%- include('../partials/background') -%>

    <%- include('../partials/header') -%>

    <section data-content id="section1" class="active">               
        <form class="load-product" method="POST" action="/admin/editProduct/<%=product.id%>?_method=PUT" enctype="multipart/form-data">

            <!-- CARGAR IMÁGENES -->
            <div class="other-box">

                <div class="field-product">
                    <label>PRODUCTO:</label>
                    <input class="style-input" type="text" name="product" value="<%- product.product %>" placeholder="Nombre del producto">
                </div>

                <div class="grid">
                    <p>IMAGENES: </p>
                    <div class="form-element">
                        <input type="text" name="imageOldName0" value="<%- product.productImage[0].image %>">
                        <input type="file" id="file-1" accept="image/*" name="imagenProducto">
                        <label for="file-1" id="file-1-preview">
                            <img src="/img/games/<%- product.productImage[0]?.image %>">
                        </label>
                    </div>
                </div>
                <div class="form-elements-flex">
                    <div class="form-elements-ind">
                        <input type="text" name="imageOldName1" value="<%- product.productImage[0].image %>">
                        <input type="file" id="file-2" accept="image/*" name="imagenProducto2">
                        <label for="file-2" id="file-2-preview">
                            <img src="/img/games/<%- product.productImage[1]?.image %>">
                        </label>
                    </div>
                    <div class="form-elements-ind">
                        <input type="file" id="file-3" accept="image/*" name="imagenProducto3">
                        <label for="file-3" id="file-3-preview">
                            <img src="/img/games/<%- product.productImage[2]?.image %>">
                        </label>
                    </div>
                    <div class="form-elements-ind">
                        <input type="file" id="file-4" accept="image/*" name="imagenProducto4">
                        <label for="file-4" id="file-4-preview">
                            <img src="/img/games/<%- product.productImage[3]?.image %>">
                        </label>
                    </div>
                    <div class="form-elements-ind">
                        <input type="file" id="file-5" accept="image/*" name="imagenProducto5">
                        <label for="file-5" id="file-5-preview">
                            <img src="/img/games/<%- product.productImage[4]?.image %>">
                        </label>
                    </div>
                </div> 
                
                <div class="field-product">
                    <label>PRECIO:</label>
                    <input class="style-input" type="number" name="precio" value="<%- product.price %>" placeholder="Precio del producto">
                </div>

                <div class="button-container">
                    <button type="submit" class="btn btn-submit">FINALIZAR</button>
                </div>

            </div>

            <!-- Text Fields -->

            <div class="desc-product-load">

                <div class="field-flex">
                    <div class="field-gen">
                        <label>CATEGORÍAS:</label>
                            <select class="style-select" name="genero">
                                <% category.forEach(categoria => { %>
                                    <option value="<%- categoria.id %>" <%- product.categoryId == categoria.id ? "selected" : null %>><%-categoria.name%></option>
                                <% }) %>
                            </select>
                    </div>
                    <div class="field-subgen">
                        <label>SUBCATEGORÍAS:</label>
                            <select class="style-select" name="subGenero">
                                <% subcategory.forEach(subcategoria => { %>
                                    <option value="<%-subcategoria.id%>" <%- product.subCategoryId == subcategoria.id ? "selected" : null %>><%-subcategoria.name%></option>
                                <% }) %>
                            </select>
                    </div>
                </div>
                <div class="display-flex-box">
                    <div class="desc-flex">
                        <label for="">DESCRIPCIÓN:</label>
                        <textarea class="style-textarea" name="descripcion" cols="30" rows="20" placeholder="Ingresa una descripcion para su producto"><%- product.description %></textarea>
                    </div>
                    <p id="req-title">REQUISITOS:</p>
                    <div class="row-req">
                        <div class="req-container">
                            <label for=""> MÍNIMOS:</label>
                            <input class="style-input" type="text" name="minimumVideo" value="<%- product.minimumVideo %>" placeholder="Minimum Video Requirements"> <br>
                            <input class="style-input" type="text" name="minimumProcessor" value="<%- product.minimumProcessor %>" placeholder="Minimum Processor Requirements"> <br>
                            <input class="style-input" type="text" name="minimumRam" value="<%- product.minimumRam %>" placeholder="Minimum Ram Requirements">
                        </div>
                        <div class="req-container">
                            <label for=""> RECOMENDADOS:</label>
                            <input class="style-input" type="text" name="recommendedVideo" value="<%- product.recommendedVideo %>" placeholder="Recommended Video"> <br>
                            <input class="style-input" type="text" name="recommendedProcessor" value="<%- product.recommendedProcessor %>" placeholder="Recommended Processor"> <br>
                            <input class="style-input" type="text" name="recommendedRam" value="<%- product.recommendedRam %>" placeholder="Recommended Ram">
                        </div>
                    </div>
                    
                </div>

                <div class="fields">
                    <div class="field-product">
                        <label>KEY:</label>
                        <input class="style-input" type="text" name="key">
                    </div>

                    <div class="field-trailer">
                        <label>TRAILER:</label>
                        <input class="style-input" type="text" name="videoURL" placeholder="URL">
                    </div>

                </div>

            </div>

        </form>
    </section>

    <%- include('../partials/footer') -%>

    <script src="/js/productAdd.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="pa384-JZR6SpepU02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</body>
</html>