<!DOCTYPE html>
<html lang="es">


<head>
    <%- include('../partials/head') -%>
    <title>Cargar producto</title>
    <link rel="stylesheet" href="/css/productAdd.css">
</head>


<body>
    
    <%- include('../partials/background') -%>

    <%- include('../partials/header') -%>

    <section data-content id="section1" class="active">               
        <form class="load-product" action="/admin/editProduct/<%=product.id%>/?_method=PUT" method="POST">

            <!-- CARGAR IMÁGENES -->
            <div class="other-box">

                <div class="field-product">
                    <label>PRODUCTO:</label>
                    <input class="style-input" type="text" name="product" value="<%- product.product %> ">
                </div>

                <div class="grid">
                    <p>IMAGENES: </p>
                    <div class="form-element">
                        <input type="file" id="file-1" accept="image/*" name="imagenProducto">
                        <label for="file-1" id="file-1-preview">
                            <img src="/img/img-default.png">
                        </label>
                    </div>
                </div>
                <div class="form-elements-flex">
                    <div class="form-elements-ind">
                        <input type="file" id="file-2" accept="image/*">
                        <label for="file-2" id="file-2-preview">
                            <img src="/img/img-default.png">
                        </label>
                    </div>
                    <div class="form-elements-ind">
                        <input type="file" id="file-3" accept="image/*">
                        <label for="file-3" id="file-3-preview">
                            <img src="/img/img-default.png">
                        </label>
                    </div>
                    <div class="form-elements-ind">
                        <input type="file" id="file-4" accept="image/*">
                        <label for="file-4" id="file-4-preview">
                            <img src="/img/img-default.png">
                        </label>
                    </div>
                    <div class="form-elements-ind">
                        <input type="file" id="file-5" accept="image/*">
                        <label for="file-5" id="file-5-preview">
                            <img src="/img/img-default.png">
                        </label>
                    </div>
                </div> 
                
                <div class="field-product">
                    <label>PRECIO:</label>
                    <input class="style-input" type="number" name="precio" value="<%- product.price %>">
                </div>

                <div class="button-container">
                    <button type="submit" class="btn btn-submit">FINALIZAR</button>
                </div>

            </div>

            <!-- Text Fields -->

            <div class="desc-product-load">

                <div class="field-flex">
                    <div class="field-gen">
                        <label>CATEGORÍAS:</label>
                            <select class="style-select" name="genero">
                                <option hidden selected>Elija la categoría</option>
                                <option value="genero1">Acción</option>
                                <option value="genero2">Aventura</option>
                                <option value="genero3">Rol</option>
                                <option value="genero4">Simulación</option>
                                <option value="genero5">Estrategia</option>
                                <option value="genero6">Deportes</option>
                            </select>
                    </div>
                    <div class="field-subgen">
                        <label>SUBCATEGORÍAS:</label>
                            <select class="style-select" name="subGenero">
                                <option hidden selected>Elija la subcategoría</option>
                                <option value="subgénero1">Arcade</option>
                                <option value="subgénero2">Disparos en primera persona</option>
                                <option value="subgénero3">Disparos en tercera persona</option>
                                <option value="subgénero4">Lucha</option>
                                <option value="subgénero5">Pelea</option>
                                <option value="subgénero6">Buena trama</option>
                                <option value="subgénero7">Casuales</option>
                                <option value="subgénero8">Puzles</option>
                                <option value="subgénero9">Rol de aventuras</option>
                                <option value="subgénero10">En grupo</option>
                                <option value="subgénero11">Estrategia de rol</option>
                                <option value="subgénero12">Por turnos</option>
                                <option value="subgénero13">Rol de aventura</option>
                                <option value="subgénero14">Rol de acción</option>
                                <option value="subgénero15">Rol japonés</option>
                                <option value="subgénero16">Estrategia en tiempo real</option>
                                <option value="subgénero17">Militares</option>
                                <option value="subgénero18">Deporte en equipo</option>
                                <option value="subgénero19">Deporte individual</option>
                            </select>
                    </div>
                </div>
                <div class="display-flex-box">
                    <div class="desc-flex">
                        <label>DESCRIPCIÓN:</label>
                        <textarea class="style-textarea" name="descripcion" cols="30" rows="20"><%- product.description %></textarea>
                    </div>
                    <div class="desc-flex">
                        <label>REQUISITOS:</label>
                        <textarea class="style-textarea" name="" cols="30" rows="20"></textarea>
                    </div>
                </div>

                <div class="fields">
                    <div class="field-product">
                        <label>KEY:</label>
                        <input class="style-input" type="text" name="key">
                    </div>

                    <div class="field-trailer">
                        <label>TRAILER:</label>
                        <input class="style-input" type="text" name="trailer" placeholder="URL">
                    </div>

                </div>

            </div>

        </form>
    </section>

    <%- include('../partials/footer') -%>

    <script src="/js/productAdd.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="pa384-JZR6SpepU02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</body>
</html>