<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') -%>
    <title>Titan Games</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/search.css">
</head>

<body>

    <%- include('../partials/background') -%>

    <%- include('../partials/header') -%>

    <main class="main-search">
        <div class="search-searchbar">
            <h2>Juegos en oferta</h2>
        </div>

       <!--  <div class="search-settings">
            <div class="filters-hamburguer">
                <p>Filtros  <i class="fas fa-angle-down"></i></p>
            </div>

            <div class="sort-by-dropdown">
                <p>Ordenar por   <i class="fas fa-angle-down"></i></p>
                <div class="sort-by-content">
                    <p>Todo</p>
                    <p>Popular</p>
                    <p>En oferta</p>
                    <p>Más jugado</p>
                </div>
            </div> 
        </div> -->

        <div class="discover">

            <section class="games-main">
                <div class ="games-main-container">            
                <% if (result.length > 0) { %>
                    <% result.forEach(product => { %>
                        <div class="card-container">
                            <div class="imgBx">
                                <a href="/product/detail/<%-product.id%>"><img src="img/games/<%-product.productImage[0].image%>"></a>
                            </div>
                            <a href="/product/detail/<%-product.id%>"><div class="content-card">
                                <div class="contentBx">
                                    <h3><%- product.product %><br> <span>$<%- product.price %></span> </h3>
                                </div>
                                <div class="icon-cart">
                                    <i class="fas fa-cart-plus"></i>
                                </div> 
                            </div></a>
                            <div class="polygon-container-special">
                                <div class="polygon-offer-info">
                                    <p>% <%- product.offers %></p>
                                </div>               
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <div class="empty">
                        <h2 class="products-title" style="color: tomato;">No se encontró ningún jueguito que coincida con esa búsqueda</h2>
                    </div>
                <% } %>
                </div>
                
            </section>
           

        </div>
    </main>
    
    <%- include('../partials/footer') -%>

</body>
</html>