<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') -%>
    <title>Jueguitos</title>
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>

    <%- include('../partials/background') -%>

    <%- include('../partials/header') -%>

<section class="games-container">
   
    <% products.forEach(product => { %>
        <div class="game">
                <a href="http://localhost:3000/product/detail/<&- product.id &>">                        
                    <img src="/img/games/<%= product.productImage[0]?.image %>" alt="img del juego" class="games-img-w">
                </a>
            <div class="game-text">
                <p><%= product.product %></p>
                <div class="price">
                    <% if (product.offers) { %>
                        <p class="sale-box"><%-product.offers%>%</p>
                    <% } %>
                    <p>$<%= toThousand(product.price) %></p>
                </div>
            </div>
        </div>
        <hr class="game-discover-hr">
    <% }) %>

</section>

    <%- include('../partials/footer') -%>

    <script src="/js/index.js"></script> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html> -->