<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') -%>
    <title><%- productF.product%></title>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>

    <%- include('../partials/background') -%>

    <%- include('../partials/header') -%>

    <!--ACÁ EMPIEZA LA ESTRUCTURA DEL DETALLE DEL PRODUCTO-->
    
    <main>
        <div class="principal-container">
            <div class="title-product">
                
                 <!--SLIDER-->
                 <div class="container">
                    <h3><%- productF.product %></h4>

                    <div class="mySlides">
                        <img src="/img/games/<%- productF.productImage[0]?.image %>" style="width:100%">
                    </div>
                  
                    <div class="mySlides">
                      <img src="/img/games/<%- productF.productImage[1]?.image %>" style="width:100%">
                    </div>
                  
                    <div class="mySlides">
                      <img src="/img/games/<%- productF.productImage[2]?.image %>" style="width:100%">
                    </div>
                      
                    <div class="mySlides">
                      <img src="/img/games/<%- productF.productImage[3]?.image %>" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <img src="/img/games/<%- productF.productImage[4]?.image %>" style="width:100%">
                    </div>
                  
                      
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>
                  
                    <div class="caption-container">
                      <p id="caption"></p>
                    </div>
                  
                    <div class="row">
                      <div class="column">
                        <img class="demo cursor" src="/img/games/<%- productF.productImage[0]?.image %>" style="width:100%" onclick="currentSlide(1)">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="/img/games/<%- productF.productImage[1]?.image %>" style="width:100%" onclick="currentSlide(2)">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="/img/games/<%- productF.productImage[2]?.image %>" style="width:100%" onclick="currentSlide(3)">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="/img/games/<%- productF.productImage[3]?.image %>" style="width:100%" onclick="currentSlide(4)">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="/img/games/<%- productF.productImage[4]?.image %>" style="width:100%" onclick="currentSlide(5)">
                      </div>
                    </div>
                  </div>
            </div>
            <!-- TERMINA SLIDER-->
            <div class="buy-product">
                <% if (productF.offers) { %>
                    <p class="sale-box"><%-productF.offers%>%</p>
                <% } %>
                <p> $<%- toThousand(productF.price) %> </p>
                <div class="button-container">
                    <button type="submit" class="btn btn-submit">Añadir al carrito <i class="fas fa-cart-plus"></i></button>
                </div>
            </div>
        </div>

        <!--Descripción del juego-->
        <div class="info-container">
            <div>
                <div class="img-prod-descrp">
                    <img src="/img/games/<%- productF.productImage[0]?.image %>" alt="">
                   
                    <a href="#" onclick="toggle();">Mirar Trailer</a>
                    <div class="trailer">
                        <iframe height="200px" src="<%-productF.videoURL%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <img src="/img/close.png" class="close" onclick="toggle()">
                    </div>
                    
                    <p> <%- productF.description %> </p>

                    <div class="categoriesDetail">
                        <div class="category-container">
                            <strong id="strong-category"> Categoria: </strong><p id="category"><%- productF.categories.name %></p>
                        </div>
                        <div class="category-container">
                            <strong id="strong-category"> Sub-Categoria: </strong><p id="category"><%- productF.subcategory.name %></p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="specs-product">
    
                <div>
                    <h4>Especificaciones técnicas mínimas</h4>
                <hr>
                <ul>
                    <li><%- productF.minimumVideo %></li>
                    <li><%- productF.minimumProcessor %></li>
                    <li><%- productF.minimumRam %></li>
                </ul>
                </div>
    
                <div>
                    <h4>Especificaciones técnicas Recomendadas</h4>
                <hr>
                <ul>
                    <li><%- productF.recommendedVideo %></li>
                    <li><%- productF.recommendedProcessor %></li>
                    <li><%- productF.recommendedRam %></li>
                </ul>
                </div>
            </div>
        </div>    
    </main>

    <%- include('../partials/footer') -%>

    <script src="/js/productDetail.js"></script>
    <script src="/js/index.js"></script> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>