<!DOCTYPE html>
<html lang="es">


<head>
    <%- include('../partials/head') -%>
    <title>Cargar producto</title>
    <link rel="stylesheet" href="/css/productAdd.css">
</head>


<body>
    
    <%- include('../partials/background') -%>

    <%- include('../partials/logReg') -%>

    <%- include('../partials/header') -%>

    <!-- FORMULARIO DE CARGA DE PRODDUCTOS -->
    <div class="bar-product">
        <p data-target="#section1">Carga de Productos</p>
        <p data-target="#section2">Stock</p>
        <p data-target="#section3">Ofertas</p>          
    </div>

    <section data-content id="section1" class="active">               
        <form class="load-product">
            
            <div class="desc-product-load">
                <div class="field-product">
                    <label for="">PRODUCTO:</label>
                    <input class="style-input" type="text" name="product">
                </div>
                <div class="field-flex">
                    <div class="field-gen">
                        <label for="">GÉNERO:</label>
                        <select class="style-select" name="genero" id="">
                            <option value="" hidden selected>Elija el género</option>
                            <option value="">género 1</option>
                            <option value="">género 2</option>
                            <option value="">género 3</option>
                        </select>
                    </div>
                    <div class="field-subgen">   
                        <label for="">SUBGÉNERO:</label>
                        <select class="style-select" name="genero" id="">
                            <option value="" hidden selected>Elija el subgénero</option>
                            <option value="">subgénero 1</option>
                            <option value="">subgénero 2</option>
                            <option value="">subgénero 3</option>
                        </select>
                    </div>                     
                </div>
                <div class="display-flex-box">
                    <div class="desc-flex">
                        <label for="">DESCRIPCIÓN:</label>
                        <textarea class="style-textarea" name="" id="" cols="30" rows="20"></textarea>
                    </div>
                    <div class="desc-flex">
                        <label for="">REQUISITOS:</label>
                        <textarea class="style-textarea" name="" id="" cols="30" rows="20"></textarea>
                    </div>
                </div>
                
                <div class="fields">
                    <div class="field-product">
                        <label for="">KEY:</label>
                        <input class="style-input" type="text" name="product">
                    </div>
                    <div class="field-product">
                        <label for="">PRECIO:</label>
                        <input class="style-input" type="number" name="product">
                    </div>  
                </div>
            </div>           
            

            <!-- CARGAR IMÁGENES -->
            <div class="other-box">
                <div class="grid">
                    <p>IMAGENES: </p>
                    <div class="form-element">
                        <input type="file" id="file-1" accept="image/*">
                        <label for="file-1" id="file-1-preview">
                            <img src="/img/img-default.png" alt="">
                        </label>
                    </div>
                </div>  
                <div class="form-elements-flex">
                    <div class="form-elements-ind">
                        <input type="file" id="file-2" accept="image/*">
                            <label for="file-2" id="file-2-preview">
                                <img src="/img/img-default.png" alt="">
                            </label>
                    </div>
                    <div class="form-elements-ind">
                        <input type="file" id="file-3" accept="image/*">
                            <label for="file-3" id="file-3-preview">
                                <img src="/img/img-default.png" alt="">
                            </label>
                    </div>
                    <div class="form-elements-ind">
                        <input type="file" id="file-4" accept="image/*">
                            <label for="file-4" id="file-4-preview">
                                <img src="/img/img-default.png" alt="">
                            </label>
                    </div>
                    <div class="form-elements-ind">
                        <input type="file" id="file-5" accept="image/*">
                            <label for="file-5" id="file-5-preview">
                                <img src="/img/img-default.png" alt="">
                            </label>
                    </div>
                </div>
    
                <div class="field-trailer">
                    <label for="">TRAILER:</label>
                    <input class="style-input" type="text" name="trailer" placeholder="URL">
                </div>
    
                <div class="button-container">
                    <button type="submit" class="btn btn-submit">FINALIZAR</button>
                </div>
            </div>
            
        </form>
    </section>

    <section data-content id="section2" class="section-2">
        <h2>STOCK</h2>
        <div class="detail-stock">         
            <div class="game-stock">
                <div class="game-name">
                    <img src="/img/battlefield-cart.png" alt="">
                    <h5>Battlefield 2042</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="/img/battlefield-cart.png" alt="">
                    <h5>Battlefield 2042</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="/img/battlefield-cart.png" alt="">
                    <h5>Battlefield 2042</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="/img/battlefield-cart.png" alt="">
                    <h5>Battlefield 2042</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="/img/battlefield-cart.png" alt="">
                    <h5>Battlefield 2042</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="/img/battlefield-cart.png" alt="">
                    <h5>Battlefield 2042</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>
        </div>
    </section>

    <section data-content id="section3">
        <h2>OFERTAS</h2>
        <div class="detail-stock">         
            <div class="game-stock">
                <div class="game-name">
                    <img src="/img/kunismall.png" alt="">
                    <h5>Ni No Kunni II</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="/img/kunismall.png" alt="">
                    <h5>Ni No Kunni II</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="/img/kunismall.png" alt="">
                    <h5>Ni No Kunni II</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="/img/kunismall.png" alt="">
                    <h5>Ni No Kunni II</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="/img/kunismall.png" alt="">
                    <h5>Ni No Kunni II</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="/img/kunismall.png" alt="">
                    <h5>Ni No Kunni II</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>
        </div>   
    </section>

    <%- include('../partials/footer') -%>

    <script src="/js/productAdd.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="pa384-JZR6SpepU02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</body>
</html>