<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') -%>
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/productCart.css">
</head>
<body>

    <%- include('../partials/background') -%>

    <%- include('../partials/header') -%>
    
    <main>
        <h3 class="detalle-compra">Detalles de compra</h3>
        <div class="detail-cart"> 
            
            <% if(cart.length > 0) { %>
                <% let cartPriceTotal = 0 %>
                <% cart.forEach(product => { %>
                    <div class="game-cart">
                        <div class="game-name">
                            <img src="/img/games/<%-product.products.productImage[0].image%>" alt="">
                            <h4><%-product.products.product%></h4>
                        </div>
                        <div class="price-flex">
                            <p><%-product.products.price%></p>
                            <form action="/user/deleteProductCart/<%-product.products.id%>?_method=DELETE" method="POST">
                                <button id="remove-all">eliminar</button>
                            </form>
                        </div>  
                    </div>
                    <% cartPriceTotal = cartPriceTotal + product.products.price %>
                <% }) %>
                <h4>Total: <%- cartPriceTotal %></h4>
                <div class="button-container">
                    <button type="submit" class="btn btn-submit" id="buyButton">Comprar</button>
                </div>
            <% } else { %>
                <h4>No tienes juegos en el carrito</h4>
                <div class="button-container">
                    <button type="submit" class="btn btn-submit" style="background-color: grey; background-image: none;">Comprar</button>
                </div>
            <% } %>            

        </div>
    </main>

    
    <%- include('../partials/footer') -%>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</body>
</html>