<section class="interese">
    <h5>Puede que te interese</h5>
    <div class ="interest-container">

        <div class="card-container">
            <div class="imgBx">
                <a href="/product/detail/3"><img src="/img/<%- dataBase[1].image %>"></a>
            </div>
            <div class="content-card">
                <div class="contentBx">
                    <h3><%- dataBase[1].product %><br> <span>$<%- dataBase[1].price %></span> </h3>
                </div>
                <div class="icon-cart">
                    <i class="fas fa-cart-plus"></i>
                </div> 
            </div>
                           
        </div>

        <div class="card-container">
            <div class="imgBx">
                <a href="/product/detail/4"><img src="/img/<%- dataBase[2].image %>"></a>
            </div>
            <div class="content-card">
                <div class="contentBx">
                    <h3><%- dataBase[2].product %><br> <span>$<%- dataBase[2].price %></span> </h3>
                </div>
                <div class="icon-cart">
                    <i class="fas fa-cart-plus"></i>
                </div> 
            </div>
                           
        </div>
        
        <div class="card-container">
            <div class="imgBx">
                <a href="/product/detail/5"><img src="/img/<%- dataBase[3].image %>"></a>
            </div>
            <div class="content-card">
                <div class="contentBx">
                    <h3><%- dataBase[3].product %><br> <span>$<%- dataBase[3].price %></span> </h3>
                </div>
                <div class="icon-cart">
                    <i class="fas fa-cart-plus"></i>
                </div> 
            </div>
                           
        </div>

        <div class="card-container">
            <div class="imgBx">
                <a href="/product/detail/6"><img src="/img/<%- dataBase[4].image %>"></a>
            </div>
            <div class="content-card">
                <div class="contentBx">
                    <h3><%- dataBase[4].product %><br> <span>$<%- dataBase[4].price %></span> </h3>
                </div>
                <div class="icon-cart">
                    <i class="fas fa-cart-plus"></i>
                </div> 
            </div>
                           
        </div>

    </div>       
</section>