<section class="interese">
    <h5>Puede que te interese</h5>
    <div class ="interest-container">

        <div class="card-container">
            <div class="imgBx">
                <a href="/product/detail/1"><img src="/img/games/<%- product[5].productImage[0].image %>"></a>
            </div>
            <a href="/product/detail/3"><div class="content-card">
                <div class="contentBx">
                    <h3><%- product[5].product %><br> <span>$<%- product[5].price %></span> </h3>
                </div>
                <div class="icon-cart">
                    <i class="fas fa-cart-plus"></i>
                </div> 
            </div></a>
                           
        </div>

        <div class="card-container">
            <div class="imgBx">
                <a href="/product/detail/2"><img src="/img/games/<%- product[4].productImage[0].image %>"></a>
            </div>
            <a href="/product/detail/2"><div class="content-card">
                <div class="contentBx">
                    <h3><%- product[4].product %><br> <span>$<%- product[4].price %></span> </h3>
                </div>
                <div class="icon-cart">
                    <i class="fas fa-cart-plus"></i>
                </div> 
            </div></a>
                           
        </div>
        
        <div class="card-container">
            <div class="imgBx">
                <a href="/product/detail/11"><img src="/img/games/<%- product[3].productImage[0].image %>"></a>
            </div>
            <a href="/product/detail/11"><div class="content-card">
                <div class="contentBx">
                    <h3><%- product[3].product %><br> <span>$<%- product[3].price %></span> </h3>
                </div>
                <div class="icon-cart">
                    <i class="fas fa-cart-plus"></i>
                </div> 
            </div></a>
                           
        </div>

        <div class="card-container">
            <div class="imgBx">
                <a href="/product/detail/12"><img src="/img/games/<%- product[2].productImage[0].image %>"></a>
            </div>
            <a href="/product/detail/12"><div class="content-card">
                <div class="contentBx">
                    <h3><%- product[2].product %><br> <span>$<%- product[2].price %></span> </h3>
                </div>
                <div class="icon-cart">
                    <i class="fas fa-cart-plus"></i>
                </div> 
            </div></a>
                           
        </div>

    </div>       
</section>