<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
    <title>Subcategorias</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('../partials/background') -%>
    <%- include('../partials/sideBarAdmin') -%>
    <%- include('../partials/adminHeader') -%>

    <section class="subcategories-container">

        <div class="categorytitle-container">
            <div class="cat-title">
                <h1>Subcategorias</h1>
            </div>
    
            <div class="add-category">
                <a href="/admin/subcategories/create"><i class="fas fa-plus"></i></a>
            </div>
        </div>
        
        <table class="table-responsive">

            <thead class="table-name">
                <tr class="header-name">
                    <th scope="col">Nombre</th>
                </tr>
            </thead>
            <tbody class="table-body-names">
                <% subcategories.forEach(subcategory => { %>
                    <tr class="rows-names">
                        <td><%- subcategory.name %></td>
                        <td class="td-icons">
                            <a href="/admin/subcategories/edit/<%= subcategory.id %>">
                                <i class='bx bx-edit-alt' ></i>
                            </a>
                            <form action="/admin/subcategories/delete/<%- subcategory.id %>?_method=DELETE" method="POST">
                                <button type="submit"><i class='bx bxs-trash' ></i></button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>

        </table>
            
    </section>

    <script src="/js/adminDashboard.js"></script>    
</body>
</html>