<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
    <link rel="stylesheet" href="/css/admin.css">
    <title>Admin</title>
</head>
<body>

    <%- include('../partials/background') -%>

    <%- include('../partials/logReg') -%>

    <%- include('../partials/header') -%>

    <main>

        <h1>Hola Admin</h1>

        <div class="cajas">

            <a href="/admin/addProduct">
                <h2>Maneje sus productos</h2>
            </a>
    
            <a href="/admin/addProduct">
                <h2>Maneje sus usuarios</h2>
            </a>

        </div>

        

    </main>


    <%- include('../partials/footer') -%>
    
</body>
</html>