<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') -%>
    <title>Iniciar sesión</title>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/validations/login.js" defer></script>
    
</head>
<body>
    <%- include('../partials/background') -%>
    <%- include('../partials/header') -%> 

    <div class="form_container">
        <div class="card">
            <div class="content">
                <img src="/img/logo-footer.png" alt="logotipo" class="logo-login">
                <p>Ingresar</p>
                <form action="/user/login" id="form" method="POST">
                    <div class="form">
                        <div class="input-container">
                            <input class="input-style" id="email" type="email" name="email" placeholder="Ingrese su email" value="<%- locals.old ? old.email : '' %>">
                            <% if(locals.errors && errors.email) { %>
                                <strong class="text-danger"><%= errors.email.msg %></strong>
                            <% } %>
                            <span class="text-danger" id="emailErrors"></span>       
                        </div>
                        <div class="input-container">
                            <input class="input-style" id="pass" type="password" name="pass" placeholder="Contraseña">
                            <% if(locals.errors && errors.pass) { %>
                                <span class="text-danger" id="passErrors"><%= errors.pass.msg%></span>
                            <% } %>
                            <span class="text-danger" id="passErrors"></span>   
                        </div>
                        <div class="check">
                            <label class="recordar" for="recordar">Recordarme</label>
                            <input type="checkbox" name="recordar" id="recordar">
                        </div>
                        
                        <div class="button-container">
                            <button type="submit" class="submit-login">Ingresar</button>
                        </div>
                        
                        <div class="error-msg">
                            <span class="text-danger" id="submitErrors"></span>
                        </div>
                        <div class="last-text" id="recover-pass">
                            <a href="http://localhost:3000/user/register"><span>Aún no tengo cuenta</span></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') -%>

</body>
