<!DOCTYPE html>
<html lang="es">
<head>    
    <%- include('../partials/head') -%>
    <title>Políticas de privacidad</title>
    <link rel="stylesheet" href="/css/privacyPolitics.css">
</head>
<body>

    <%- include('../partials/background') -%>

    <%- include('../partials/logReg') -%>

    <%- include('../partials/header') -%>
    
    <!-- POLITICAS -->
    <div class="politics-container">
        <div class="politics-title">
            <h4>POLÍTICAS DE PRIVACIDAD</h4>
        </div>
        <div class="politics-text">
            <p>Damos la máxima importancia a la protección de tus datos. Hemos establecido unas normas de seguridad y de confidencialidad con el fin de garantizar la mejor protección posible de tus datos. Necesitamos recopilar cierta información en el momento en que realizas un pedido. Sin embargo, los datos personales no se recogen sin tu consentimiento previo.
            <br>
            Estas reglas se aplican a todos los colaboradores de la empresa.</p>
            <h2>TITAN GAMES</h2>
            <strong>Website Privacy Notice</strong>
            <div class="politics-items">
                <h5>1. About Us</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo nostrum porro quam nobis asperiores, vel consectetur beatae veniam quisquam, expedita at deleniti facilis blanditiis! <br> Laborum ut voluptatem illo eum repellat molestiae provident alias delectus, blanditiis doloremque quas, a possimus odio architecto? Dignissimos nobis saepe, ipsa culpa facilis rerum corrupti laborum eius, sapiente eaque ipsum eos commodi! <br> Laboriosam odit sit in saepe velit nostrum dolorum impedit minus quas nam a similique, doloremque repellendus soluta maiores ratione doloribus quia fuga perferendis numquam? Quas deserunt beatae ipsum aspernatur. Ea debitis nobis eaque eveniet, fuga quidem quis explicabo, ad ipsam vel dignissimos repellendus amet!</p>
                <h5>2. Who does this privacy notice apply to?</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam sed voluptatem maiores quis! Quam neque veritatis nesciunt. Itaque recusandae vero quibusdam minus labore molestias sint earum dolore eos, repellat nam vitae accusantium expedita neque et nemo? Sunt rem voluptas totam illo qui tempore amet fugit facilis, ducimus ad cumque nam autem dolore doloribus, unde libero adipisci impedit! Eius veniam, id placeat aut qui voluptatum ea at voluptas sint voluptate sunt soluta velit vel in earum obcaecati itaque perferendis commodi cumque?Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga tempore ratione numquam voluptatum voluptates est natus architecto, quos aliquid commodi eius? Dignissimos, tempora explicabo molestias atque qui praesentium unde animi.</p>
                <h5>3. Third party links</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti necessitatibus tempore quam minima voluptas nisi sunt similique iste eligendi fuga iure quas, neque cum quae beatae eum consequuntur atque quis magnam alias saepe magni ducimus. Eveniet cupiditate veniam excepturi harum dicta animi laboriosam quisquam assumenda omnis nobis temporibus nam ipsum ex sapiente quaerat incidunt, dolorem culpa cum accusantium, est ab magni. Voluptatum, dolore. Esse alias architecto iure voluptas ad nobis!</p>
                <h5>4. Why do we use your data?</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, perspiciatis quos, iste, debitis asperiores blanditiis magni doloremque vel dolorem sed accusantium exercitationem omnis eligendi voluptas. Reprehenderit nihil aliquam velit labore.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> Consequatur, commodi tempore. Corrupti aspernatur et obcaecati possimus! Accusantium vero tempore sequi modi consectetur. Consequatur provident, aliquam maxime quae aut maiores quos! Inventore quis eaque, unde quaerat maxime repudiandae incidunt ea ratione eius molestiae quas atque, enim temporibus officia minima dolores voluptatem.</p>
                <h5>5. How we use your information</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Libero sunt temporibus eos quasi, quos qui a quae? Ipsa doloribus optio molestias facilis repellat sequi doloremque laudantium sit adipisci error minima ullam pariatur molestiae totam corporis eius, animi aspernatur aut quasi sapiente? Excepturi corrupti delectus dolorem aperiam facilis doloribus, repellendus sapiente, saepe dignissimos nemo, beatae nobis placeat distinctio ullam optio amet expedita tenetur ut in. Consequuntur dolores hic sequi culpa vitae id, atque enim perferendis debitis accusantium, quos quibusdam, ipsam incidunt voluptatibus ad repudiandae earum officia repellendus mollitia rerum! Vero, asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium culpa natus, distinctio libero iure illum repudiandae harum laborum saepe est nesciunt. Ad perspiciatis rem deserunt, minima magnam pariatur dolore earum maxime quasi aliquid quas delectus officia labore odio. Reprehenderit magni blanditiis saepe maiores! Sequi rem, animi saepe maiores laborum dignissimos itaque eius tempore sint vel impedit iste ab excepturi nesciunt, fuga eveniet necessitatibus expedita possimus vitae? Debitis qui inventore, non corporis cupiditate alias ipsam hic quis aspernatur doloribus. Expedita, qui?</p>
            </div>
        </div>    
    </div>
    
    <%- include('../partials/footer') -%>

    <script src="/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
</body>
</html>