<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
    <title>Perfil</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/profile.css">
    <script src="/js/profile.js" defer></script>
</head>
<body>
    <%- include('../partials/background') -%>
    <%- include('../partials/header') -%>
    <main>
        <div class="complete-dashboard">
            <div class="box-shop">
                <div class="box-shop1">
                    <div class="circle1">
                        <i id="icon-shop" class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="text-shop">
                        <h4>TIENDA</h4>
                    </div>
                </div>
                <div class="box-shop2">
                    <div class="circle2">
                        <div>
                            <i id="shop-icon2" class="fas fa-bolt"></i>
                        </div>
                    </div>
                    <div class="text-shop">
                        <h4>OFERTAS</h4>
                    </div>
                </div>
            </div>
            <div class="keys-container">
    
                <div class="game-keys">
                    <div class="profile-text" id="showHideBar">
                        <h4>MIS DATOS</h4>
                        <h4>+</h4>
                    </div>
                </div>
                <div class="img-container" id="userData">                    
                    <div class="profile-image-user">
                        <img src="/img/users/<%= user.avatar %>" alt="Profile Image">
                    </div>
                    <div class="userInformationContainer">
                        <div class="userInformation">
                            <h3>Datos del usuario</h3>
                                <p>Username: <%- userInSession.userName %></p>
                                <p>Email: <%- userInSession.email %></p>
                                <p>Rol: <% if (userInSession.rol === 1) { %> 
                                        Admin
                                    <% } else { %> 
                                        Usuario
                                    <% } %>
                                </p>                        
                            </div>
                        </div>
                    </div>
                </div>                        
    
            </div>
        </div>
    </main>
    <%- include('../partials/footer') -%>
</body>
</html>