<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
    <title>Perfil</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/profile.css">
    <script src="/js/profile.js" defer></script>
</head>
<body>
    <%- include('../partials/background') -%>
    <%- include('../partials/header') -%>
    <main>
        <div class="complete-dashboard">
            <div class="box-shop">
                <div class="box-shop1">
                    <div class="circle1">
                        <i id="icon-shop" class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="text-shop">
                        <h4>TIENDA</h4>
                    </div>
                </div>
                <div class="box-shop2">
                    <div class="circle2">
                        <div>
                            <i id="shop-icon2" class="fas fa-bolt"></i>
                        </div>
                    </div>
                    <div class="text-shop">
                        <h4>OFERTAS</h4>
                    </div>
                </div>
            </div>
            <div class="keys-container">
    
                <div class="game-keys">
                    <div class="profile-text" id="showHideBar">
                        <h4>MIS DATOS</h4>
                        <div class="showHideIcon">
                            <span id="showMore" onclick="showContent();">+</span>
                            <span id="showLess" onclick="hideContent();">-</span>
                        </div>
                    </div>
                </div>

                <div class="img-container" id="userData">
                    <a class="edit-profile-page" href="/user/profile/edit/<%= userInSession.id %>"><i class="far fa-edit"></i></a>
                    <div class="profile-image-user">
                        <img src="/img/users/<%= user.avatar %>" alt="Profile Image">
                    </div>
                    <h3>Datos del usuario</h3>
                    <div class="userInformationContainer">
                        
                        <div class="userInformation">                            
                                <p><span>username: </span> <%- userInSession.userName %></p>
                                <p>Email: <%- userInSession.email %></p>
                                <p>Rol: <% if (userInSession.rol === 1) { %> 
                                        Admin
                                    <% } else { %> 
                                        Usuario
                                    <% } %>
                                </p>
                        </div>
                        <div class="userInformation">                   
                                <p>Dirección: <%= user.address[0].street ? user.address[0].street : '.....' %></p>
                                <p>Código Postal: <%= user.address[0].postalCode ? user.address[0].postalCode : '.....' %></p>
                                <p>Ciudad: <%= user.address[0].city ? user.address[0].city : '.....' %></p>
                        </div>

                    </div>
                    <div class="buttons">                        
                        <form action="/user/profile/delete/<%= userLogged.id %>?_method=DELETE"  method="POST">
                            <button id="delete-button" type="submit" id="buttonSubmitDelete" onclick="return alert('¿Estas seguro de querer eliminar el usuario?')">Eliminar cuenta</button>
                        </form>
                    </div>
                </div>
    
            </div>
        </div>
    </main>
    <%- include('../partials/footer') -%>
</body>
</html>