<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') -%>    
    <link rel="stylesheet" href="/css/registerView.css">
</head>
<body>
    <%- include('../partials/background') -%>
    <%- include('../partials/header') -%>

    <!-- Registro -->

    <div>

        <div class="register-card" id="register-card">
            <div class="register-container">
                <form class="form-container" action="/user/register" method="POST">
                    <img src="/img/logo-footer.png" alt="logotipo" class="logo-register">
                    <div class="registrate"><p>Registrate</p></div>
                    <div class="input-container-reg">
                        <input class="input-style" type="name" name="userName" placeholder="Ingrese su usuario" value="<%= locals.old && old.user ? old.user : '' %>" >
                        <% if (locals && locals.errors) { %>
                            <p> <% errors.forEach(error => { %>
                                <% if(error.param == 'userName'){ %>
                                    <%- error.msg %>
                                <% } %>
                            <% }) %> </p>
                        <% } %>
                    </div>
    
                    <div class="input-container-reg">
                        <input class="input-style" type="email" name="email" placeholder="Ingrese su email" value="<%= locals.old && old.email ? old.email : '' %>">
                        <% if (locals && locals.errors) { %>
                            <p> <% errors.forEach(error => { %>
                                <% if(error.param == 'email'){ %>
                                    <%- error.msg %>
                                <% } %>
                            <% }) %> </p>
                        <% } %>
                    </div>
                    <div class="input-container-reg">
                        <input class="input-style" type="password" name="pass" placeholder="Contraseña" value="<%= locals.old && old.pass ? old.pass : '' %>">
                    </div>
    
                    <div class="input-container-reg">
                        <input class="input-style" type="password" name="pass2" placeholder="Contraseña" value="<%= locals.old && old.pass2 ? old.pass2 : '' %>">
                        <% if (locals && locals.errors) { %>
                            <p> <% errors.forEach(error => { %>
                                <% if(error.param == 'pass'){ %>
                                    <%- error.msg %>
                                <% } %>
                            <% }) %> </p>
                        <% } %>
                    </div>
    
                    <div class="button-container-reg">
                        
                        <button type="submit" class="submit-register">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
        <%- include('../partials/footer') -%>

    </div>

    

    
</body>

</html>