<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') -%>    
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <%- include('../partials/background') -%>
    <%- include('../partials/header') -%>

    <!-- Registro -->

    <div class="register-card" id="register-card">
        <span class="close" id="close">x</span>
        <div class="register-container">
            <form class="form-container">
                <img src="/img/logo.png" alt="logotipo" class="logo-register">
                <div class="input-container">
                    <input class="input-style" type="email" name="userName" placeholder="Ingrese su usuario">
                    <% if (locals.errors && errors.userName) { %>
                        <small class="text-danger"><%= errors.userName.msg %> </small>
                    <% } %>
                </div>

                <div class="input-container">
                    <input class="input-style" type="email" name="email" placeholder="Ingrese su email">
                    <% if (locals.errors && errors.email) { %>
                        <small class="text-danger"><%= errors.email.msg %> </small>
                    <% } %>
                </div>
                <div class="input-container">
                    <input class="input-style" type="password" name="pass" placeholder="Contraseña">
                    <% if (locals.errors && errors.pass1) { %>
                        <small class="text-danger"><%= errors.pass1.msg %> </small>
                    <% } %>
                </div>

                <div class="input-container">
                    <input class="input-style" type="password" name="pass" placeholder="Contraseña">
                    <% if (locals.errors && errors.pass2) { %>
                        <small class="text-danger"><%= errors.pass2.msg %> </small>
                    <% } %>
                </div>

                <div class="button-container">
                    
                    <button type="submit" class="submit-register">Registrarse</button>
                </div>
                <div class="redirect-register" id="redirect-login">
                    <span>
                        <h5 id="login">¿tienes una cuenta?</h5>
                    </span>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>