<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') -%>
    <title>Registrarse</title>        
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/validations/register.js" defer></script>
</head>
<body>
    <%- include('../partials/background') -%>
    <%- include('../partials/header') -%>

    <!-- Registro -->

    <div class="register-card" id="register-card">
        <div class="register-container">
            <form class="form-container" id="form" action="/user/register" method="POST">
                <img src="/img/logo-footer.png" alt="logotipo" class="logo-register">
                <div class="registrate"><p>Registrate</p></div>
                <div class="input-container-reg">
                    <input class="input-style" id="name" type="name" name="userName" placeholder="Ingrese su nombre de usuario" value="<%- old.userName %>" >
                    <% if (locals.errors && errors.userName) { %>
                        <small class="text-danger"><%= errors.userName.msg %> </small>
                    <% } %>
                    <small class="text-danger" id="nameErrors"></small>                   
                </div>

                <div class="input-container-reg">
                    <input class="input-style" id="email" type="email" name="email" placeholder="Ingrese su email" value="<%- old.email %>">
                    <% if (locals.errors && errors.email) { %>
                        <small class="text-danger"><%= errors.email.msg %> </small>
                    <% } %>
                    <small class="text-danger" id="emailErrors"></small>   
                </div>
                <div class="input-container-reg">
                    <input class="input-style" id="pass" type="password" name="pass1" placeholder="Contraseña">
                    <% if (locals.errors && errors.pass1) { %>
                        <small class="text-danger"><%= errors.pass1.msg %> </small>
                    <% } %>
                    <small class="text-danger" id="passErrors"></small>  
                </div>
                <div class="input-container-reg">
                    <input class="input-style" id="pass2" type="password" name="pass2" placeholder="Repetir contraseña">
                    <% if (locals.errors && errors.pass2) { %>
                        <small class="text-danger"><%= errors.pass2.msg %> </small>
                    <% } %>
                    <small class="text-danger" id="pass2Errors"></small>  
                </div>

                <div class="button-container-reg"> 
                    <button type="submit" class="submit-register">Registrarse</button>                  
                </div>
                <span class="text-danger" id="submitErrors"></span>
                <div class="redirect-register" id="redirect-login">
                    <span>
                        <a style="text-decoration: none;" href="http://localhost:3000/user/login"><span>¿tienes una cuenta?</span></a>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <%- include('../partials/footer') -%>

    
</body>

</html>