<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') -%>
    <title>Titan Games</title>
    <link rel="stylesheet" href="/css/search.css">
</head>

<body>

    <%- include('../partials/background') -%>

    <%- include('../partials/header') -%>

    <main class="main-search">
        <div class="search-searchbar">
            <h2>Resultado de la búsqueda: <%= search %></h2>
        </div>

        <div class="search-settings">
            <div class="filters-hamburguer">
                <p>Filtros  <i class="fas fa-angle-down"></i></p>
            </div>

            <div class="sort-by-dropdown">
                <p>Ordenar por   <i class="fas fa-angle-down"></i></p>
                <div class="sort-by-content">
                    <p>Todo</p>
                    <p>Popular</p>
                    <p>En oferta</p>
                    <p>Más jugado</p>
                </div>
            </div>
        </div>

        <div class="discover">
            <!-- 
            166-219 section1
            221-274 section2
            276-329 section3
            -->
            <section class="games" id="discover-games">

                <% if (result.length > 0) { %>
                    <% result.forEach(product => { %>
                        <div class="game">
                            <a href="http://localhost:3000/product/detail/<%-product.id%>">                        
                                <img src="/img/games/<%- product.productImage[0].image %>" alt="img del juego" class="games-img-w">
                            </a>
                            <div class="game-text">
                                <p><%= product.product %></p>
                                <div class="price">
                                    <p class="sale-box">-10%</p>
                                    <p>$<%= product.price %></p>
                                </div>
                            </div>
                        </div>
                        <hr class="game-discover-hr">
                    <% }) %>
                <% } else {  %>
                    <div class="nose">
                        <h2 class="products-title" style="color: tomato;">No se encontró ningún jueguito que coincida con esa búsqueda</h2>
                    </div>
                <% } %>
                <!-- <div class="game">

                    <a href="http://localhost:3000/productDetail">                        
                        <img src="/img/ni-no-kuni-2.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>
                <hr class="game-discover-hr">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">                        
                        <img src="/img/ni-no-kuni-2.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>
                <hr class="game-discover-hr">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">                        
                        <img src="/img/ni-no-kuni-2.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>
                <hr class="game-discover-hr">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">                        
                        <img src="/img/ni-no-kuni-2.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>
                <hr class="game-discover-hr">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">                        
                        <img src="/img/ni-no-kuni-2.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>
                <hr class="game-discover-hr">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">                        
                        <img src="/img/ni-no-kuni-2.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div> -->

            </section>
        </div>
    </main>
    
    <%- include('../partials/footer') -%>

</body>
</html>