<!DOCTYPE html>
<html lang="en">
<head>    
    <%- include('../partials/head') -%>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/adminUsers.css">
    <title>Admin users</title>
</head>
<body>

    <%- include('../partials/background') -%>
    <%- include('../partials/sideBarAdmin') -%>
    <%- include('../partials/adminHeader') -%>

    <main class="userAdmin-container">

        <form action="/admin/adminSearchUser" method="GET" class="search-form-admin">
            <input type="text" name="keywords" placeholder="Buscar usuarios" class="search-form-input">
            <label class="label-header" for="buttonSearchUser"><i class="fas fa-search"></i></label>
            <button type="submit" class="search-form_button" id="buttonSearchUser"></i></button>
        </form>

        <div class="userCards">
            <% if ( userInSession.rol == 2 ) { %>
                <% users.forEach(user => { %>
                    <div class="userCard-ind">
                        <div class="img-user-container">
                            <img src="/img/users/<%- user.avatar %>">
                        </div>
                        <div class="info-user-container">
                            <p><span>User:</span> <%-user.userName%></p>
                            <p><span>Email:</span> <%-user.email%></p>
                        </div>
                        <form action="/admin/userEdit/<%-user.id%>?_method=PUT" method="POST">
                            <select name="selectRol" id="selectRol" class="style-selects">
                                <% if ( user.rol == 1) { %>
                                    <option value="0">User</option>
                                    <option selected value="1">Admin</option>
                                    <option value="2">SuperAdmin</option>
                                <% } else if ( user.rol == 2 ) { %>
                                    <option value="1">Admin</option>
                                    <option value="0">User</option>
                                    <option value="2" selected>SuperAdmin</option>
                                <% } else { %>
                                    <option value="1">Admin</option>
                                    <option selected value="0">User</option>
                                    <option value="2">SuperAdmin</option>
                                <% } %>
                            </select>
                            <div class="edit-btn">
                                <button type="submit"><i class="fas fa-check"></i></i>    SAVE</button>
                            </div>
                        </form>
                        <div class="delete-btn">
                            <form action="/admin/deleteUserAdmin/<%-user.id%>?_method=DELETE" method="POST">
                                <button type="submit"><i class='bx bxs-trash-alt'></i></button>
                            </form>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <% users.forEach(user => { %>
                    <div class="userCard-ind">
                        <div class="img-user-container">
                            <img src="/img/users/<%- user.avatar %>">
                        </div>
                        <div class="info-user-container">
                            <p><span>User:</span> <%-user.userName%></p>
                            <p><span>Email:</span> <%-user.email%></p>
                        </div>
                        <form action="/admin/userEdit/<%-user.id%>?_method=PUT" method="POST"></form>
                            <select name="selectRol" id="selectRol" class="style-selects">
                                <% if ( user.rol == 1) { %>
                                    <option value="0">User</option>
                                    <option selected value="1">Admin</option>
                                    <option value="2">SuperAdmin</option>
                                <% } else if ( user.rol == 2 ) { %>
                                    <option value="1">Admin</option>
                                    <option value="0">User</option>
                                    <option value="2" selected>SuperAdmin</option>
                                <% } else { %>
                                    <option value="1">Admin</option>
                                    <option selected value="0">User</option>
                                    <option value="2">SuperAdmin</option>
                                <% } %>
                            </select>
                        </form>
                        <div class="delete-btn">
                                <button type="submit">Sin permisos</button>
                        </div>
                    </div>
                <% }) %>
            <% } %>

        </div>

    </main>

    <script src="/js/adminDashboard.js" defer></script>
</body>
</html>