<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/adminUsers.css">
    <title>Admin users</title>
</head>
<body>

    <%- include('../partials/background') -%>

    <%- include('../partials/header') -%>

    <main>

        

        <div class="userCards">
            <% users.forEach(user => { %>
                    <div class="userCard">
                        <img src="/img/users/<%- user.avatar %>">
                        <p>User: <%-user.userName%></p>     
                        <p>Email: <%-user.email%></p>
                        <select name="rol" id="selectRol">
                            <% if ( user.rol == 1) { %>
                                <option selected hidden value="1">Admin</option>
                                <option value="0">User</option>
                            <% } else { %>
                                <option selected hidden value="0">User</option>
                                <option value="1">Admin</option>
                            <% } %>
                        </select>
                        <div class="sendDelete">
                            <p class="send">Guardar</p>
                            <p class="delete">Eliminar</p>
                        </div>
                    </div>
            <% }) %>
        </div>
    </main>

    <%- include('../partials/footer') -%>
    
</body>
</html>